:root {
    --Blanco: #FFFFFF;   
    --Oscuro: #212121;
    --Primario: #FFC110;
    --Secundario: #0097a7; 
    --Gris: #757575;

}

html {
    font-size: 62.5%;
    /**Lo de abajo es un sniper para no sumar los px de height con el padding*/
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-size: 16px;/* 1Rem = 10Px*/
    font-family: 'Raleway', sans-serif;

}

.titulo{
    text-align: center;
    font-size: 3.8rem;   
}
.titulo span{
    font-size: 2rem;
}

.contenedor{
max-width: 120rem;
margin: 0 auto;
}

.nav-bg{
    background-color: var(--Secundario);
    /*padding: 1rem;*/
}
.navegacion-principal {
    display: flex;
    flex-direction: column;

}
@Media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{
display: block;
text-align: center;
color: var(--Blanco);
text-decoration: none;
font-weight: 700;
font-size: 2rem;
padding: 1rem;
}

.navegacion-principal a:hover {
background-color: var(--Primario);
color: var(--Oscuro);
}

.hero {
background-image: url(../img/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 450px;
padding: 20px;
}
